<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<p th:text="'Simple Store Application'" />
<p th:text="'Used technologies - Spring Boot, Spring MVC, Spring Cloud Gateway, Eureka'" />
<p><a href="/inventory/main">INVENTORY</a></p>
<p><a href="/store/main">STORE</a></p>
<p><a href="/orders/main">ORDERS</a></p>
</body>
</html>